.banner {
  position: relative;
  background: url("./media/3571325.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 200px 0 200px;
  font-family: "Poppins", sans-serif;
}

.banner h3 {
  margin: 0;
  padding: 0;
  color: #f5bf48;
  text-transform: uppercase;
}

.banner p {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #f7faf9;
  text-transform: uppercase;
}
