.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.nav-cont {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 20px 0;
}

.nav-item {
  text-transform: uppercase;
}

.navbar-brand {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 3em;
}
